<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.moviesearch.app.review.mapper.ReviewMapper">

    <select id="selectReviewList" resultType="dev.moviesearch.app.review.domain.ReviewDto">
        SELECT
            USER_ID,
            CONTENT_ID,
            STAR,
            CONTENT
        FROM
            movie.REVIEW
    </select>

    <select id="selectReview" parameterType="int" resultType="dev.moviesearch.app.review.domain.ReviewDto">
        SELECT
            USER_ID,
            CONTENT_ID,
            STAR,
            CONTENT
        FROM
            movie.REVIEW
        WHERE
            CONTENT_ID = #{contentId}
    </select>

    <insert id="insertReview" parameterType="dev.moviesearch.app.review.domain.ReviewDto">
        INSERT INTO movie.REVIEW (USER_ID, CONTENT_ID, STAR, CONTENT)
        VALUES (#{userId}, #{contentId}, #{star}, #{content}
    </insert>

    <update id="updateReview" parameterType="dev.moviesearch.app.review.domain.ReviewDto">
        UPDATE movie.REVIEW
        SET STAR = #{star},
            CONTENT = #{content}
        WHERE CONTENT_ID = #{contentId} AND USER_ID = #{userId}
    </update>

    <delete id="deleteReview">
        DELETE FROM movie.REVIEW WHERE CONTENT_ID = #{contentId} AND USER_ID = #{userId}
    </delete>

</mapper>
