<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<div layout:fragment="content">
    <h1>회원가입</h1>
	<form action="join" method="post" enctype="multipart/form-data">
		<table class="table">
			<tr>
				 <th><input type="text" name="name" placeholder="이름"></th>
			</tr>
			
			<tr>
				<th><input type="text" name="age" placeholder="나이"></th>
			</tr>
			<tr>
				<th><input type="text" name="userId" placeholder="아이디"></th>
			</tr>
			<tr>
				<th><input type="password" name="password" placeholder="비밀번호"></th>
			</tr>
			<tr>
				<th><input type="text" name="genre" placeholder="선호 장르"></th>
			</tr>
		</table>
		<input type="submit" value="회원가입">
	</form>
	
</div>

</html>


