@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

body {
    background-image: url("/images/cat.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    font-family: 'Cute Font', cursive;
    font-size: xx-large;
}

th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
}

th:first-child, td:first-child {
    border-left: none;
    text-align: center;
}

tr:hover {
    background: antiquewhite;
    cursor: pointer;
}

.center {
    padding: 10px;
    text-align: center;
}

button {
    background: coral;
}

.container {}

.text-area {
    width: 100%;
    height: 100px;
}