<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <h1>Memo List</h1>
    <button th:onclick="go_join()">회원가입</button>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memo : ${memos}">
            <td th:text="${memo.idx}"></td>
            <td th:text="${memo.contents}"></td>
        </tr>
        </tbody>
    </table>
</div>

</html>


